export(colocate)
export(bias_correct)
export(classify)
export(combine_gauges)
export(cvgm)
export(DoubleKrige)
export(spacetime_gauge)
export(gpm2ts)
export(system_download)
export(rcurl_download)
export(hdf2R)

import(sp)
import(rgdal)
import(zoo)
import(xts)
importFrom(spacetime,STFDF)
import(gstat)
import(RCurl)
import(rhdf5)
